@font-face{
    font-family: Gilroy;
    src: url("./fonts/Gilroy-Regular.ttf");
}
@font-face{
    font-family: monument;
    src: url("./fonts/MonumentExtended-Regular.otf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding-top: 0.1px;
}
#nav{
    height: 11vh;
    width: 100%;
    margin-top: 4vh;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h2{
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
    font-size: 1.5vw;
    font-weight: 600;
    /* background-color: red; */
}
#nav h1{
    height: 100%;
    width: 19%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 30px;
    letter-spacing: -1px;
}
#nav h2:nth-last-child(1){
    width: 10%;
}
#nav h2:nth-last-child(2){
    width: 29%;
}

/* nav bar done */

#center{
    height: 90%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 4vw;
}

#content{
    height: 100%;
    width: 100%;
    background-color: blue;
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 52%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 3vw;
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
#over1 h1{
     font-family: monument;
     font-size: 3.6vw;
    margin-bottom: 2vw;
}
#over1 h2{
    font-size: 1vw;
    padding: 2vw 2.2vw;
    border-radius: 50%;
    border: 1px solid #fff;
    border-bottom: 2px solid #fff;
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
}
#over2 h4{
    font-size: 1.3vw;
    font-weight: 500;
    color: #fff;
}
#over2 img{
    height: 3vw;
}