/* #downloadcapsule{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 10px;
    background-color: #dadada;
    border-radius: 100px;
}   

#progress{
    width: 10%;
    height: 100%;
    border-radius: 100px;
    background-color: green;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .2s;
} */


/* Quesiton 8 */

#main{
    width: 70%;
    height: 70%;
    background-color: #f1f1f1;
}
.container{
    padding: 22vw 20vw;
}
input{
    width: 100%;
    padding: 12px 22px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid #dadada;
    outline-color: royalblue;
}